.outer-side-container {
    position: relative;
}

.inner-side-container {
    text-align: center; 
    white-space: nowrap;
}

.ship-icon {
    font-size: 8mm; 
    float: left;
}

.ship-name {
    width: 29mm; 
    display: inline-block; 
    font-size: 3.3mm; 
    white-space: normal;
}

.faction-icon {
    font-size: 6mm;
    float: right;
}