<div class="non-print">

  <h1>X-Wing Gearboxes</h1>
  <div>
    Select a Ship. Select which ship tokens. Print at Scale 100% (instead of "Shrink to fit") and Narrow margins. Cut on solid lines and fold on dashed lines.
    Beside the ship tokens, the gearboxes will also fix a single base, two pegs, a maneuver dial, and a dial ID token.
  </div>
  
  <table>
    <tr>
      <td>glue</td>
      <td>side</td>
      <td>flap</td>
      <td>empty</td>
    </tr>
    <tr>
      <td>bottom</td>
      <td>back</td>
      <td>top</td>
      <td>flap</td>
    </tr>
    <tr>
      <td>glue</td>
      <td>side</td>
      <td>flap</td>
      <td>empty</td>
    </tr>
    <tr>
      <td>glue</td>
      <td>front</td>
      <td>empty</td>
      <td>empty</td>
    </tr>
    <tr>
      <td>empty</td>
      <td>glue</td>
      <td>empty</td>
      <td>empty</td>
    </tr>
  </table>
    
</div>