<div class="gearbox">


<div class="non-print">

  <h1>X-Wing Gearboxes</h1>

  <div>
    Select a Ship. Select which ship tokens. Print at Scale 100% (instead of "Shrink to fit") and Narrow margins. Cut on solid lines and fold on dashed lines.
    Beside the ship tokens, the gearboxes will also fix a single base, two pegs, a maneuver dial, and a dial ID token.
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Ship" [(ngModel)]="selectedShip">
        <mat-option *ngFor="let ship of shipCollection" [value]="ship">
          <i class="faction-icon xwing-miniatures-font {{ship.factionIcon}}" style="font-size: 4mm;"></i> 
          <i class="ship-icon xwing-miniatures-ship {{ship?.shipIcon}}"></i>
          {{ship.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<!-- [ngStyle]="rotateTable()" -->
<table>

    <!-- top flap -->
    <tr>
      <td><!-- empty --></td>
      <td class="top-flap solid-top solid-right solid-left"><!-- top flap --></td>
      <td><!-- empty --></td>
      <td><!-- empty --></td>
    </tr>
    
    <!-- top -->
    <tr [style.height.mm]="depth">
      <td><div class="outer-container solid-top solid-left" [ngStyle]="getTopSideFlapStyle('left')"><!-- left flap --></div></td>

      <td class="dashed-top solid-right solid-left" style="text-align: center;">

        <app-side 
          [ship]="selectedShip"
          boxSide="top"
          [boxDepth]="depth"
          [sideWidth]="selectedGearboxSize.width">
        </app-side>

      </td>

      <td><div class="outer-container solid-top solid-right" [ngStyle]="getTopSideFlapStyle('right')"><!-- right flap --></div></td>
      <td><!-- empty --></td>
    </tr>
    
    <!-- front/back/sides -->
    <tr [style.height.mm]="selectedGearboxSize.height">
        
      <!-- left side -->
      <td class="dashed-top dashed-right dashed-bottom solid-left" [style.width.mm]="depth">
          
          <app-side 
            [ship]="selectedShip"
            boxSide="left"
            [boxDepth]="depth"
            [sideWidth]="selectedGearboxSize.height">
          </app-side>

        </td>
        <td class="dashed" [style.width.mm]="selectedGearboxSize.width">back</td>

        <!-- right side -->
        <td class="dashed" [style.width.mm]="depth">
          
            <app-side 
              [ship]="selectedShip"
              boxSide="right"
              [boxDepth]="depth"
              [sideWidth]="selectedGearboxSize.height">
            </app-side>

        </td>

        <!-- front -->
        <td class="outer-container dashed-right dashed-bottom dashed-left" [style.width.mm]="selectedGearboxSize.width">
          <div class="inner-container">
              <span class="inner-container-span solid-top" [style.width.mm]="(selectedGearboxSize.width - 14)/2">&nbsp;</span>
              <span class="inner-container-span front-indent solid-right solid-bottom solid-left">&nbsp;</span>
              <span class="inner-container-span solid-top" [style.width.mm]="(selectedGearboxSize.width - 14)/2">&nbsp;</span>
          </div>
          <div>front</div>
        </td>

        <td class="solid-top solid-right solid-bottom" [style.width.mm]="depth-1" style="transform: rotate(-90deg);">glue</td>
    </tr>
    
    <!-- bottom glue row -->
    <tr [style.height.mm]="depth">
      <td><div class="center-text solid-bottom solid-left" [style.height.mm]="depth-4" [style.line-height.mm]="depth-4" [style.margin-bottom.mm]="4">glue</div></td>

      <!-- bottom -->
      <td class="solid-left solid-bottom solid-right">

        <app-side 
          [ship]="selectedShip"
          boxSide="bottom"
          [boxDepth]="depth"
          [sideWidth]="selectedGearboxSize.width">
        </app-side>

      </td>

      <td><div class="center-text solid-bottom" [style.height.mm]="depth-4" [style.line-height.mm]="depth-4" [style.margin-bottom.mm]="4">glue</div></td>
      <td><div class="center-text solid-right solid-bottom solid-left" [style.height.mm]="depth-2" [style.line-height.mm]="depth-2" [style.margin-bottom.mm]="2">glue</div></td>
      <td><!-- empty corner --></td>
    </tr>

</table>

</div>