<div id="about">

<h1>About X-Wing Dividers</h1>

<div>
  This site was created to support the players <a href="http://x-wing.com/">X-Wing Second Edition</a> miniature game by 
  <a href="http://fantasyflightgames.com/">Fantasy Flight Games</a>. This site is unofficial and is not affiliated with Fantasy Flight Games, 
  Lucasfilm Ltd., or Disney. You may log issues or suggestion regarding this site at <a href="https://github.com/davidhorm/xwing-dividers/issues">GitHub</a>.
</div>

<div>
  The game comes with a lot of cards. I store all the upgrade and pilot cards in a couple
  <a href="https://smile.amazon.com/gp/product/B00H5HC9G4/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">400 Card Storage Boxes</a>. It was difficult to take cards 
  out from the box. This site is generates divider/caddy pattern you can print out and put together. I print the pattern on  
  <a href="https://smile.amazon.com/gp/product/B001QG0K48/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">heavyweight cardstock 140 lb index paper</a> and put it together with 
  <a href="https://smile.amazon.com/gp/product/B0025W9AWA/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Double Sided Tape</a>. Cut on the solid lines, and fold on the dashed lines.
  You can print directly from the browser and the non-essential elements on the page will be removed.
</div>

<div>
  When you select a card type from the drop down, it'll automatically enter a number for the caddy length. This default length is based on the number of cards that 
  comes with the core box, and the first three Conversion Kits (Rebels, Empire, and Scum). You can enter your own length in millimeters. Or I recommend 1mm for 
  every 3 cards unsleeved. The maximum caddy length that will print on a standard A4 sized sheet is 101mm when you set the printer margins to narrow.
</div>

<div>This site uses <a href="//github.com/geordanr/xwing-miniatures-font">xwing-miniatures-font</a>.</div>

</div>