<div id="about">

<h2>About X-Wing Dividers</h2>

<div>
  This site was created to support the players <a href="http://x-wing.com/">X-Wing Second Edition</a> miniature game by 
  <a href="http://fantasyflightgames.com/">Fantasy Flight Games</a>. This site is unofficial and is not affiliated with Fantasy Flight Games, 
  Lucasfilm Ltd., or Disney. You may log issues or suggestion regarding this site at <a href="https://github.com/davidhorm/xwing-dividers/issues">GitHub</a>.
</div>

<div>
  The game comes with a lot of cards. I store the cards in a 
  <a href="https://smile.amazon.com/gp/product/B00H5HC9G4/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">400 Card Storage Box</a> and it is difficult to take 
  cards out from the box. This site is generates divider/caddy you can print out. I print it on  
  <a href="https://smile.amazon.com/gp/product/B001QG0K48/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">heavyweight cardstock 140 lb index paper</a> and put it together with 
  <a href="https://smile.amazon.com/gp/product/B0025W9AWA/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Double Sided Tape</a>.
</div>

</div>