div {
    margin-top: 1.5em;
}

.mat-form-field {
    margin-left: 1.5em;
    width: 7em;
}

/* Table heights, widths, and borders */
table {
    border-collapse: collapse;
    font-family: 'Jura', sans-serif;
    margin-top: 1.5em;
}

td {
    border-width: 2px;
}

td.top-border {
    border-style: solid solid dashed solid;
}

td.bottom-border {
    border-style: dashed solid solid solid;
}

td.side {
    width: 43mm;
}

td.middle {
    width: 92mm;
}

/* labels have the icon and title */
td.top-label {
    height: 67mm; /* td.top-label.height = td.tab.height + td.no-tab-top.height */
    text-align: center;
    vertical-align: top;
    font-size: 4mm;
}

td.no-tab-top {
    height: 35mm; /* td.top-label.height = td.tab.height + td.no-tab-top.height */
}

i.xwing-miniatures-font {
    font-size: 4mm;
}

td.bottom-label {
    height: 45mm; /* td.bottom-label.height = td.tab.height + td.no-tab-bottom.height */
}

td.no-tab-bottom {
    height: 13mm; /* td.bottom-label.height = td.tab.height + td.no-tab-bottom.height */
}

/* The tab that is used to glue */
td.tab {
    height: 32mm; /* td.*-label.height = td.tab.height + td.no-tab-*.height */
    text-align: center;
}

td.no-tab-top, td.no-tab-bottom {
    border-width: 0px;
}

td.flex {
    border-style: dashed;
}

td.left-flex {
    border-left-style: solid;
}

td.right-flex {
    border-right-style: solid;
}