<table>
  <tbody>
    <tr>
      <td class="side no-tab"><!-- empty space in corner--></td>
      <td class="middle top-label top-border" rowspan="2">{{ title }}</td>
      <td class="side no-tab"><!-- empty space in corner--></td>
    </tr>
    <tr>
      <td class="side tab top-border">glue</td>
      <td class="side tab top-border">glue</td>
    </tr>
    <tr>
      <td class="side flex left-flex"><!-- middle flexible row --></td>
      <td class="middle flex"><!-- middle flexible row --></td>
      <td class="side flex right-flex"><!-- middle flexible row --></td>
    </tr>
    <tr>
      <td class="side tab bottom-border">glue</td>
      <td class="middle bottom-label bottom-border" rowspan="2">{{ title }}</td>
      <td class="side tab bottom-border">glue</td>
    </tr>
    <tr>
      <td class="side no-tab"><!-- empty space in corner--></td>
      <td class="side no-tab"><!-- empty space in corner--></td>
    </tr>
  </tbody>
</table>