<div class="non-print">

<h1>X-Wing Dividers</h1>
<div>
  Select a Card Type. Enter a caddy length in millimeters. Print at Scale 100% (instead of "Shrink to fit") and Narrow margins. Cut on solid lines and fold on dashed lines.
</div>

<div>
  <mat-form-field>
    <mat-select placeholder="Card Type" [(ngModel)]="selectedCardType" (selectionChange)="caddyLength = selectedCardType.defaultLength">
      <mat-option *ngFor="let cardType of cardTypes" [value]="cardType">
        {{cardType.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Caddy Length (mm)" [(ngModel)]="caddyLength" />
  </mat-form-field>
</div>
  


</div>

<table>
  <tbody>
    <tr>
      <td class="side no-tab-top"><!-- empty space in corner--></td>
      <td class="middle top-label top-border" rowspan="2"><i class="xwing-miniatures-font {{selectedCardType?.iconClassName}}"></i> {{selectedCardType?.title}}</td>
      <td class="side no-tab-top"><!-- empty space in corner--></td>
    </tr>
    <tr>
      <td class="side tab top-border">glue</td>
      <td class="side tab top-border">glue</td>
    </tr>
    <tr [style.height.mm]="caddyLength">
      <td class="side flex left-flex"><!-- middle flexible row --></td>
      <td class="middle flex"><!-- middle flexible row --></td>
      <td class="side flex right-flex"><!-- middle flexible row --></td>
    </tr>
    <tr>
      <td class="side tab bottom-border">glue</td>
      <td class="middle bottom-label bottom-border" rowspan="2"></td>
      <td class="side tab bottom-border">glue</td>
    </tr>
    <tr>
      <td class="side no-tab-bottom"><!-- empty space in corner--></td>
      <td class="side no-tab-bottom"><!-- empty space in corner--></td>
    </tr>
  </tbody>
</table>