/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./../submodules/xwing-miniatures-font/dist/xwing-miniatures.css";

/* hide tab and header when printing */
@media print {
    .mat-tab-group .mat-tab-header, .non-print {
        display: none;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
}

@page {
    margin: 10mm;
}

/* 100% tab fill */
body, html {
    height: 100%;
    margin: 0;
}
.mat-tab-body-wrapper{
    flex-grow: 1;
}